    html {
    /* 전체 영역 */
    background-image: url("../animal.jpg");
    display: flex;
    align-items: center;
  }
  
  body {
    /* 화면 영역  */
    position: relative;
    text-align: center;
    width: 700px;

    margin: 0 auto;
  }

  h1{
    margin-top: 10%;
    font-size: 50px;
    font-family: "Last Ninja", Impact, fantasy;
    color: rgb(80, 80, 241);
    text-shadow: 2px 2px 4px rgb(63, 63, 63);
  }

  #firstBtn{
    background-image: url("../start.png");
    background-size: cover; 
    width: 400px;
    height: 102px;
    background-color: transparent;
    border-width: 0px;
    margin-top: 5%;
  }
  
 #firstBtn:hover {
    cursor: pointer;
  }